ServiceControl/Service References/NodeServiceReference/NodeService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cocoin.info/NodeService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cocoin.info/NodeService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cocoin.info/NodeService">
      <s:element name="Run">
        <s:complexType />
      </s:element>
      <s:element name="RunResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RunSoapIn">
    <wsdl:part name="parameters" element="tns:Run" />
  </wsdl:message>
  <wsdl:message name="RunSoapOut">
    <wsdl:part name="parameters" element="tns:RunResponse" />
  </wsdl:message>
  <wsdl:portType name="NodeServiceSoap">
    <wsdl:operation name="Run">
      <wsdl:input message="tns:RunSoapIn" />
      <wsdl:output message="tns:RunSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NodeServiceSoap" type="tns:NodeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Run">
      <soap:operation soapAction="http://cocoin.info/NodeService/Run" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NodeServiceSoap12" type="tns:NodeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Run">
      <soap12:operation soapAction="http://cocoin.info/NodeService/Run" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NodeService">
    <wsdl:port name="NodeServiceSoap" binding="tns:NodeServiceSoap">
      <soap:address location="http://cocoin.info/NodeService/NodeService.asmx" />
    </wsdl:port>
    <wsdl:port name="NodeServiceSoap12" binding="tns:NodeServiceSoap12">
      <soap12:address location="http://cocoin.info/NodeService/NodeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>