NodeService/Service References/MainServiceReference/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cocoin.info/MainService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cocoin.info/MainService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cocoin.info/MainService">
      <s:element name="GetWork">
        <s:complexType />
      </s:element>
      <s:element name="GetWorkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkResult" type="tns:WorkItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WorkItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="receiveDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="stockId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="current" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetWorkSoapIn">
    <wsdl:part name="parameters" element="tns:GetWork" />
  </wsdl:message>
  <wsdl:message name="GetWorkSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkResponse" />
  </wsdl:message>
  <wsdl:portType name="MainServiceSoap">
    <wsdl:operation name="GetWork">
      <wsdl:input message="tns:GetWorkSoapIn" />
      <wsdl:output message="tns:GetWorkSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainServiceSoap" type="tns:MainServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWork">
      <soap:operation soapAction="http://cocoin.info/MainService/GetWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MainServiceSoap12" type="tns:MainServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWork">
      <soap12:operation soapAction="http://cocoin.info/MainService/GetWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="MainServiceSoap" binding="tns:MainServiceSoap">
      <soap:address location="http://localhost:2541/MainService.asmx" />
    </wsdl:port>
    <wsdl:port name="MainServiceSoap12" binding="tns:MainServiceSoap12">
      <soap12:address location="http://localhost:2541/MainService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>